  .banner {
    position: fixed;
    bottom: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    min-width: 275px;
    max-width: 375px;
    margin: 10px 10px;
    padding: 2px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
  }

  .banner-left {
    left: 0;
  }

  .banner-right {
    right: 0;
  }

  .border{
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;
  }
  
  .cookie-consent-banner__inner {     
    padding: 15px 0;
  }
  
  .cookie-consent-banner__copy{
    margin-bottom: 20px;
  }
  
  .cookie-consent-banner__description {
    font-weight: normal;
    font-size: 0.9em;
  }
  
  .cookie-consent-btn {
    display: inline-block;
    width: 64%;
    padding: 11px 13px;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    transition: 0.4s;
  }

  .cookie-consent-btn:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  .cookie-consent-btn-secondary{
    display: inline-block;
    padding: 11px 13px;
    width: 33%;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    margin-left: 0.2em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    transition: 0.3s;
  }

  .cookie-consent-btn-secondary:hover{
    text-decoration: none;
    opacity: 0.9;
  }

  .prebanner {
    position: fixed;
    bottom: 0;
    z-index: 2147483645;
    height: 50px;
    font-size: 0.9em;
    margin: 10px 10px;
    border: none;
    padding: 12px 18px;
    border-radius: 20px;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
  }

  .prebanner-left {
    left: 0;
  }

  .prebanner-right {
    right: 0;
  }

  .prebanner:hover {
    text-decoration: none;
  }

  .link-btn{
    text-decoration: underline;
    border: none;
    background-color: inherit;
  }

  .link-btn:hover{
    text-decoration: underline;
  }

  /* MODAL */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px 55px;
    border-radius: 20px;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .modal-content {
      padding: 20px 25px;
      width: 95%;
    }
  }