.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    max-width: 375px;
    margin: 10px 10px;
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;
    padding: 2px 20px;
    border-radius: 15px;
  }
  
  .cookie-consent-banner__inner {     
    padding: 15px 0;
  }
  
  .cookie-consent-banner__copy{
    margin-bottom: 20px;
  }
  
  .cookie-consent-banner__description {
    font-weight: normal;
    color: #838F93;
    font-size: 0.9em;
  }
  
  .cookie-consent-btn {
    display: inline-block;
    width: 200px;
    padding: 11px 13px;
    border-radius: 7px;
    border: none;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
  }

  .cookie-consent-btn:hover {
    text-decoration: none;
  }

  .cookie-consent-btn-secondary{
    display: inline-block;
    padding: 11px 13px;
    border-radius: 7px;
    border: none;
    font-size: 0.9em;
    margin-left: 0.3em;
    background-color: rgb(243, 243, 243);
    color: #7c7c7c;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
  }

  .cookie-consent-btn-secondary:hover{
    background-color: rgb(219, 219, 219);
    color: #727272;
  }

  .cookie-prebanner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    height: 50px;
    margin: 10px 10px;
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e9e9;
    padding: 12px 18px;
    border-radius: 35px;
    color: #000;
    text-decoration: none;
  }

  .cookie-prebanner:hover {
    text-decoration: none;
  }