  /* Banner styles */
  /* =========================== */
  .glow-banner {
    position: fixed;
    bottom: 0;
    min-width: 275px;
    max-width: 375px;
    z-index: 2147483645;
    box-sizing: border-box;
    margin: 10px 10px;
    padding: 2px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
  }

  .banner-left {
    left: 0;
  }

  .banner-right {
    right: 0;
  }

  .border {
    border: 1px solid #e9e9e9 !important;
  }
  
  .glow-banner-content {     
    padding: 15px 0;
  }

  .glow-banner-description {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 0.9em;
  }

  .glow-banner h2 {
    margin: 8px 0;
  }

  /* Banner Buttons */
  /* =========================== */
  .cookie-consent-btn {
    display: inline-block;
    width: 64%;
    padding: 11px 13px;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    transition: 0.3s;
    cursor: pointer;
  }

  .cookie-consent-btn:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  .cookie-consent-btn-secondary{
    display: inline-block;
    padding: 11px 13px;
    width: 33%;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    margin-left: 0.2em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    transition: 0.3s;
    cursor: pointer;
  }

  .cookie-consent-btn-secondary:hover{
    text-decoration: none;
    opacity: 0.9;
  }

  /* Prebanner styles */
  /* =========================== */
  .prebanner {
    position: fixed;
    bottom: 0;
    z-index: 2147483645;
    height: 50px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 10px 10px;
    border: none;
    padding: 12px 18px;
    border-radius: 18px;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 36px -13px rgba(0,0,0,0.15);
  }

  .animation{
    transition: .2s;
  }

  .animation:hover {
    transform: scale(.97);
  }

  .prebanner-left {
    left: 0;
  }

  .prebanner-right {
    right: 0;
  }

  .prebanner:hover {
    text-decoration: none;
  }

   /* Policy link */
   /* =========================== */
  .link-btn{
    text-decoration: underline;
    border: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
  }

  .link-btn:hover{
    text-decoration: underline;
  }
  