@import './mixins.scss', './variables.scss';

/* CUSTOM CLASSES */
/* ========================= */
.glowCookies__border {
  border: 1px solid #e6e6e6 !important;
}

.glowCookies__left {
  left: 15px;
}

.glowCookies__right {
  right: 15px;
}

.glowCookies__show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

/* MANAGER STYLES */
/* ========================= */
.glowCookies__manager {
  @include hidden-element;
  font-family: inherit;
  position: fixed;
  width: auto;
  max-width: 475px;
  max-height: 70%;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-sizing: content-box;
  transition: transform .2s ease, opacity .2s ease !important;
  bottom: 15px;
  border-radius: 5px;
  padding: 25px 35px;
  overflow-y: scroll;

  h3 {
    font-size: 24px;
    margin: 0px;
    padding: 8px 0;
  }

  &__content {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
  }

  .btn__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;

    .accept__btn__styles {
      border: none;
      padding: 13px 15px;
      font-size: 15px;
      font-family: inherit;
      width: 100%;
      cursor: pointer;
      font-weight: bolder;
      transition: filter 0.15s;
      user-select: none;
    }

    button {
      border-radius: 5px;

      &:focus {
        outline: none;
        transform: scale(0.95);
        -webkit-filter: contrast(75%);
        filter: contrast(75%);
      }
      &:hover {
        -webkit-filter: contrast(85%);
        filter: contrast(85%);
      }
    }
  }
}

/* BANNER STYLES */
/* ========================= */
.banner {
  @include hidden-element;
  @include custom-shadow;
  font-family: inherit;
  position: fixed;
  bottom: 15px;
  width: auto;
  max-width: $banner_width;
  z-index: 999;
  box-sizing: border-box;
  transition: transform .2s ease, opacity .2s ease !important;

  h3 {
    font-size: 24px;
    margin: 0px;
    padding: 8px 0;
    font-weight: bolder;
  }

  p {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
  }

  .btn__section {
    .accept__btn__styles {
      border: none;
      padding: 13px 15px;
      font-size: 15px;
      font-family: inherit;
      width: 49%;
      cursor: pointer;
      font-weight: bolder;
      transition: filter 0.15s;
      user-select: none;
    }
  
    .settings__btn__styles {
      border: none;
      padding: 13px 15px;
      font-family: inherit;
      font-size: 15px;
      width: 49%;
      cursor: pointer;
      font-weight: bolder;
      transition: filter 0.15s;
      user-select: none;
    }

    button:focus {
      outline: none;
      transform: scale(0.95);
      -webkit-filter: contrast(75%);
      filter: contrast(75%);
    }

    button:hover {
      -webkit-filter: contrast(85%);
      filter: contrast(85%);
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    .btn__section{
      .accept__btn__styles {
        width: 100%;
        margin-bottom: 7px;
      }
  
      .settings__btn__styles {
        width: 100%;
      }
    }
  }
}

.glowCookies__banner__1 {
  @extend .banner;
  border-radius: 20px;
  padding: 20px 25px;

  .read__more {
    font-weight: bolder;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;

    button {
      border-radius: 10px;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 7px;
  
    .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

.glowCookies__banner__2 {
  @extend .banner;
  border-radius: 5px;
  padding: 25px 35px;

  .read__more {
    font-weight: bolder;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;

    button {
      border-radius: 5px;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 0px;
    border: 0px;
    max-width: 550px;
  
    .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

.glowCookies__banner__3 {
  @extend .banner;
  border-radius: 0px;
  padding: 25px 35px;

  .read__more {
    font-weight: bolder;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 25px;

    button {
      border-radius: 0px;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 0px;
    border: 0px;
    max-width: 550px;
  
    .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

/* PREBANNER */
/* =========================== */
.prebanner {
  @include hidden-element;
  @include custom-shadow;
  position: fixed;
  bottom: 15px;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  line-height: normal;
  border: none;
  padding: 12px 18px;
  text-decoration: none;
  user-select: none;
  transition: .2s;

  &:hover {
    text-decoration: none;
    transform: scale(.97) !important;
  }

  &.prebanner__border__1 {
    border-radius: 15px;
  }

  &.prebanner__border__2 {
    border-radius: 8px;
  }

  &.prebanner__border__3 {
    border-radius: 2px;
  }
}